// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

// Components
@import "./components/aside.scss";
@import "./components/comment-form.scss";
@import "./components/footer.scss";
@import "./components/forms.scss";
@import "./components/header.scss";
@import "./components/shared.scss";
@import "./components/social-login.scss";
@import "./components/video.scss";
@import "./components/video-player.scss";

// Screens
@import "./screens/edit-user.scss";
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/user-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";

//Others
@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");

// Defaults
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg-color;
  color: #ffffff;
  // overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bar-color;
}

main {
  // max-width: 80vw;
  // width: 100%;
  margin-top: 112px;
  margin-left: 272px;
  margin-right: 32px;
}

footer {
  position: absolute;
  height: 50px;
  bottom: 48px;
  left: 24px;
  clear: both;
}

@keyframes fadeAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: fadeAway 0.5s ease-in-out forwards;
  animation-delay: 3s;
  &.error {
    background-color: tomato;
    color: white;
  }
  &.info {
    background-color: mediumspringgreen;
    color: white;
  }
}

@media screen and (max-width: 687px) {
  .navber__search {
    display: none;
  }
}
