.video__data {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__handleButton,
.video__add__comment {
  margin: 16px 20px 0 20px;
}

.video-comments {
  margin: 32px 0 128px 0;
  display: flex;
  flex-direction: column;
  .video-comments__comment {
    padding: 10px;
    margin: 0 24px 16px 24px;
    border-bottom: 1px solid #ffffff50;
    color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .video-comments__payloads {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .video-comments__commentinfo {
        .video-comments__createdAt {
          padding-left: 4px;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
      .video-comments__text {
        span {
          word-break: break-all;
        }
      }
      .comment__like {
        margin-top: 12px;
        * {
          margin-right: 24px;
          cursor: pointer;
        }
      }
    }
    .comment__menu {
      width: 88px;
      height: inherit;
      display: flex;
      justify-content: space-between;
    }
  }
  .fas {
    font-size: large;
    color: #ffffff;
    padding: 0 12px;
    cursor: pointer;
  }
}
