.video-container {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
}

.control {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #0f1117;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr auto;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.showing {
    opacity: 0.8;
  }
  .control__play {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .control__play-button {
      margin: 0 15px;
    }
    .control__time {
      width: 80px;
      font-size: 12px;
    }
  }
  .control__volume {
    display: flex;
    margin-right: 8px;
    align-items: center;
    span {
      margin-left: 10px;
      i {
        font-size: 20px;
      }
    }
  }
  input[type="range"] {
    accent-color: white;
    width: 90%;
    margin: 0 auto;
  }
}
