extends base.pug

block content 
  form(method="POST")
    h4 Update video
    input(placeholder="Title", required, type="text",value=video.title, name="title", maxlength=80)
    input(placeholder="Description", required, type="text",value=video.description, name="description", minlength=20)
    input(placeholder="Hashtags, separated by whitespace.",value=video.hashtags.join(" "), required, type="text", name="hashtags")
    input(type="submit", value="Save")  