extends base.pug
include mixin/video.pug

block content 
  nav 
    ul 
      li 
        a(href="/videos/upload") Upload Video
  h1 This is Home Page
  each video in videos 
    +video(video)
  else
    span There is no video...
