footer
    span &copy; 2022 Youtube Clone
    span Made by cryoon 
    i.far.fa-envelope  
        span email: anthonychangrok@gamil.com
    i.fab.fa-github-alt  
        span github : 
            a(href="https://github.com/my-roki")
                span https://github.com/my-roki