extends ../base.pug

block content
    if errMessage
        h3=errMessage
    form(method="POST")
        input(placeholder="Old Password", name="oldPassword", type="password", required)
        input(placeholder="New Password", name="newPassword", type="password", required)
        input(placeholder="New Password Confirm", name="newPasswordConfirm", type="password", required)
        input(type="submit", value="Change Password") 