extends ../base.pug
block content 
  if errMessage
    h3=errMessage
  form(method="POST")
    input(type="text", name="username",placeholder="Username" required)
    input(type="email", name="email", placeholder="Email", required)
    input(type="password", name="password", placeholder="Password", required)
    input(type="password", name="passwordConfirm", placeholder="Password Confirm", required)
    input(type="submit", value="Sign up")
    include ../partials/social-login.pug
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr; 