extends ../base.pug
include ../mixin/video.pug

block content
  div.profile__data
    if (loginUser.avatar)
      if(loginUser.avatar.startsWith("upload"))
        img(src="/" + loginUser.avatar).avatar
      if(loginUser.avatar.startsWith("http"))
        img(src=loginUser.avatar).avatar
    h3=user.name
  div.video-grid
    each video in user.videos
      +video(video)
    else
      span.empty__message No videos found 
  if (String(loginUser._id) === String(user._id))
    a(href="/users/edit") Edit user &rarr;